fastapi
uvicorn
python-multipart
streamlit
requests
langchain
langchain-community
langchain-huggingface
langchain-openai
chromadb
sentence-transformers
pypdf
python-docx
unstructured
openai-whisper
SpeechRecognition
pydub
wikipedia
redis
python-dotenv
