fastapi
uvicorn[standard]
python-multipart
streamlit
requests
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-classic
chromadb
sentence-transformers
pypdf
python-docx
unstructured
openai-whisper
SpeechRecognition
pydub
wikipedia
redis
python-dotenv
beautifulsoup4
pydantic
pytesseract
Pillow
